.container {
  border: 1px solid red;
  text-align: center;
  background-color: beige;
  font-size: 32px;
}

#task_list {
  background-color: beige;
  
  /* width: auto; */
  padding:0 50px;
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 30px;
  margin: 10px;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

li button {
  width: 50px;

  cursor: pointer;

}

